{
    "uploadPath": "/base/path/to/upload/images",
    "serverAddress": "example.com",
    "user": "admin",
    "password": "",
    "db": {
        "name": "warp",
        "user": "warp",
        "pass": "<pass>",
        "port": 5432,
        "pool": 5
    }
}