{
    "uploadPath": "/base/path/to/upload/images",
    "serverAddress": "example.com",
    "db": {
        "name": "warp",
        "user": "warp",
        "pass": "<pass>",
        "port": 5432,
        "pool": 5
    },
    "sessionSecret": "<generate one with 'make secret'>",
    "clientId": "<client id>",
    "clientSecret": "<secret here>",
    "secure": true,
    "groupId": <groupid>
}